<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Leran ISLT</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">ISLT</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="/home">
            <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">HOME
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
           <a href="/about">
          <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">ABOUT
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
            <a href="/contact">
            <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">CONTACT
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
            </a>
          </nav>
        </div>
    </header>

   

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Welcome To ISLT</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">FEW ISLT SYMBOLS</h1>
      </div>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">EXAMPLES</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Here are some of the examples of sign language with the description/ explanation of the individual signs.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7qgJBHXKk_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cool</h2>
                <p class="leading-relaxed text-base">The sign for "cool" usually involves placing the tips of the index and middle fingers of one hand on the side of the forehead, while the thumb is extended upwards.< <br> The hand is then moved slightly away from the forehead, while the fingers and thumb remain in the same position.

                    <br>  This sign is often used to convey a sense of admiration or approval, particularly in the context of fashion or style. It can also be used more generally to convey a sense of something being trendy or fashionable</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FwICUFQD7xk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Breakfast</h2>
                <p class="leading-relaxed text-base">To sign "breakfast" in Indian Sign Language (ISL), you can use both hands.<br>  Start with both hands in a fist, with your thumbs pointing up.<br>  Then, bring your fists up to your forehead and tap your forehead with your thumbs twice.<br>  This sign represents the idea of "breaking the fast" after sleeping, as breakfast is typically the first meal of the day after a period of not eating during sleep.
                    <br>  It's important to note that Indian Sign Language is a rich and diverse language with regional variations, so the specific sign for "breakfast" may vary depending on the region or community.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JQBhg-9tIMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Camera</h2>
                <p class="leading-relaxed text-base">To sign "camera" in Indian Sign Language (ISL), you can follow these steps:
                <br>Hold one hand in front of you, with the fingers together and the thumb pointing up.
                  <br>  Use the other hand to mimic pressing the button on the top of the camera.
                  <br>  Then, bring the hand with the button down towards the other hand, as if you are taking a picture.
                   <br> The sign for "camera" in ISL represents the physical camera as a device used for taking pictures or recording videos.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/U7AHSoCy3xY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Arrogant</h2>
                <p class="leading-relaxed text-base">Start with the dominant hand open, fingers together, and palm facing downward.
                   <br> Place the dominant hand on the forehead, with the fingertips pointing upwards and the palm facing away from the body.
                   <br> Then move the hand forward and down, in a sweeping motion, while closing the fingers into a fist.
                   <br>  This sign is used to convey the meaning of someone being arrogant or conceited, and it suggests the gesture of someone brushing their hair back while displaying a superior attitude.<br> Please note that Indian Sign Language may vary slightly depending on the region and community, and it is best to consult with a qualified Indian Sign Language interpreter for accurate representation and proper usage of sign language.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

  
  


</body>
</html>